{% extends './index.html' %}
{% load static %}
{% block body %}
      <!-- ========== Carrusel de imagenes ========== -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <video class="img-fluid w-100"  autoplay loop muted>
              <source src="{% static 'components/noticias-banner.mp4' %}" type="video/mp4" />
            </video>
          </div>
          <div class="carousel-item">
            <video class="img-fluid w-100"  autoplay loop muted>
              <source src="{% static 'components/noticias-vivo-banner.mp4' %}" type="video/mp4" />
            </video>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-9">
            <!-- Contenido principal -->
          </div>
          <div class="col-3 d-none d-lg-block">
            <div class="weather-main border-secondary p-3 m-2">
              <div class="row">
                <h2 class="text-center">Tiempo Hoy</h2>
              </div>
              <div class="row row-cols-1">
                {% for resultado in resultados_tiempo_chile %}
                <div class="col mb-3">
                  <div class="card weather">
                    <div class="card-body">
                      <h6 class="card-title mb-0">{{ resultado.ciudad|capfirst }}</h6>
                      <hr class="my-2">
                      <div class="row">
                        <p class="text-center text-sm text-break">{{ resultado.tiempo|capfirst }}</p>
                      </div>
                      <div class="row align-items-center">
                        <div class="col">
                          <div class="row text-center">
                            <img src="https://openweathermap.org/img/wn/{{ resultado.icono }}@2x.png" alt=""
                              class="weather-icon">
                          </div>
                        </div>
                        <div class="col">
                          <h4 class="card-text text-center text-nowrap mb-2">{{ resultado.temperatura|floatformat:1 }} °C</h4>
                          <div class="row">
                            <div class="col-12">
                              <p class="card-text small-txt text-nowrap"><i class="fa-solid fa-temperature-low pe-2"></i>{{ resultado.temperatura_min|floatformat:1 }} °C</p>
                              <p class="card-text small-txt text-nowrap"><i class="fa-solid fa-temperature-high pe-2"></i>{{ resultado.temperatura_max|floatformat:1 }} °C</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}