<li class="nav-item">
  <a class="nav-link active" aria-current="page" href="/"><i class="fa-solid fa-house"></i></a>
</li>
<li class="nav-item">
  <a class="nav-link text-nowrap text-danger" href="{% url 'noticias' categoria='Ultima Hora' %}">ULTIMA HORA</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'subscriptions' %}">PLANES</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'noticias' categoria='Publicidad' %}">PUBLICIDAD</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'noticias' categoria='Sociedad' %}">SOCIEDAD</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'noticias' categoria='Tecnología' %}">TECNOLOGÍA</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'noticias' categoria='Economia' %}">ECONOMIA</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'noticias' categoria='Deporte' %}">DEPORTE</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'noticias' categoria='Mundo' %}">MUNDO</a>
</li>
