{% comment %}Navbar eliminada temporalmente para depuración de error 'q'{% endcomment %}
<!-- NAVBAR ELIMINADA PARA DEPURACIÓN -->

<nav class="navbar navbar-expand-lg navbar-light d-none d-lg-block" aria-label="Navegación principal">
  <div class="container">
    <div class="navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% include 'navbar_items.html' %}
      </ul>
      <form class="d-flex" method="GET" action="{% url 'busqueda' %}">
        <input class="form-control me-2" type="search" placeholder="Buscar noticia..." aria-label="Buscar" name="q" value="{{ q|default:'' }}">
        <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-search"></i></button>
      </form>
    </div>
  </div>
</nav>

<!-- Navbar móvil colapsable -->
<div class="collapse d-lg-none" id="navbarSupportedContent">
  <nav class="navbar navbar-light bg-light border-top" aria-label="Navegación móvil">
    <div class="container-fluid px-3">
      <ul class="navbar-nav w-100">
        {% include 'navbar_items.html' %}
        <li class="nav-item mt-2">
          <form class="d-flex" method="GET" action="{% url 'busqueda' %}">
            <input class="form-control me-2" type="search" placeholder="Buscar noticia..." aria-label="Buscar" name="q" value="{{ q|default:'' }}">
            <button class="btn btn-outline-primary" type="submit"><i class="fa-solid fa-search"></i></button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
</div>
