{% extends './index.html' %} {% load static %} {% block title %}Caos News -
Tienda{% endblock %} {% block body %}
<div class="row">
  <div class="col">
    <div class="card h-100 d-flex flex-column">
      <h2
        class="text-center pt-2"
        style="color: hsl(36, 98%, 44%); text-shadow: 1px 2px 3px rgb(0, 0, 0)"
      >
        PLAN BASICO
      </h2>
      <div class="card-body d-flex flex-column justify-content-between">
        <p class="card-text">Suscripción basica a noticias</p>
        <p class="card-text">
          Esta es una suscripción gratuita que te permite acceder a nuestras
          noticias básicas.
        </p>
        <ul>
          <li>Acceso limitado ✔️</li>
          <li>Noticias básicas ✔️</li>
          <li>Sin Publicidad ❌</li>
          <li>Videos ❌</li>
          <li>Audios ❌</li>
          <li>Noticias en tiempo real ❌</li>
          <li>Noticias exclusivas ❌</li>
        </ul>
        <p class="card-text">Precio: $4.99/mes o $49.99/año</p>
        <p class="card-text">Selecciona la duración de tu suscripción:</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary">Mensual</a>
          <a href="#" class="btn btn-primary">Anual</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 d-flex flex-column">
      <h2
        class="text-center pt-2"
        style="color: hsl(54, 98%, 44%); text-shadow: 1px 2px 3px rgb(0, 0, 0)"
      >
        PLAN ESTANDAR
      </h2>
      <div class="card-body d-flex flex-column justify-content-between">
        <p class="card-text">Suscripción premium a noticias</p>
        <p class="card-text">
          Esta es una suscripción estandar que te permite acceder a nuestro
          contenido audiovisual adicional.
        </p>
        <ul>
          <li>Acceso limitado ✔️</li>
          <li>Noticias básicas ✔️</li>
          <li>Sin Publicidad ✔️</li>
          <li>Videos ✔️</li>
          <li>Audios ✔️</li>
          <li>Noticias en tiempo real ❌</li>
          <li>Noticias exclusivas ❌</li>
        </ul>
        <p class="card-text">Precio: $9.99/mes o $99.99/año</p>
        <p class="card-text">Selecciona la duración de tu suscripción:</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary">Mensual</a>
          <a href="#" class="btn btn-primary">Anual</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 d-flex flex-column">
      <h2
        class="text-center pt-2"
        style="color: hsl(81, 98%, 44%); text-shadow: 1px 2px 3px rgb(0, 0, 0)"
      >
        PLAN PREMIUM
      </h2>
      <div class="card-body d-flex flex-column justify-content-between">
        <p class="card-text">Suscripción gold a noticias</p>
        <p class="card-text">
          Esta es una suscripción premium que te permite acceder a todas
          nuestras noticias, contenido exclusivo y beneficios adicionales.
        </p>
        <ul>
          <li>Acceso ilimitado ✔️</li>
          <li>Noticias básicas ✔️</li>
          <li>Sin Publicidad ✔️</li>
          <li>Videos ✔️</li>
          <li>Audios ✔️</li>
          <li>Noticias en tiempo real ✔️</li>
          <li>Noticias exclusivas ✔️</li>
        </ul>
        <p class="card-text">Precio: $19.99/mes o $199.99/año</p>
        <p class="card-text">Selecciona la duración de tu suscripción:</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary">Mensual</a>
          <a href="#" class="btn btn-primary">Anual</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
